

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Home | [Church Name]</title>
    <link rel="stylesheet" href="style.css">
    <link href="~/css/SunDays.css" rel="stylesheet">
</head>
 

<div class="navbar">
    <div class="logo">MySite</div>
    <div class="nav-links">
        <a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="SunDays">Sundays</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="MainPage">MainPage</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="Test">Test</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="LogIn">Login</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="LogOut">Logout</a>
    </div>
</div>




<body>


    <div class="page">
        <!-- Video section --> 
        <div class="video-section">
            <video autoplay muted loop class="video-bg">
                <source src="~/css/Videos/ChurchVideo.mkv" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="overlay-text">
                Our Sundays 
            </div>
        </div>
    </div>





    <div class="section-separator">
        <h2>Join our Sundays</h2>
        <p>Our Church hosts Sunday gatherings every week, all are welcome to join.</p>
    </div>


    <div class="fullwidth-yellow-borders">
        <p>A Welcoming church to the young</p>
    </div>



    <div class="sundaytext">
        <h4>Sundays at church are a peaceful pause in the week—a time to gather, reflect, and reconnect. The service brings encouraging messages, meaningful worship, and a sense of community. Afterward, people linger to talk, laugh, and share life together. It’s a simple, welcoming rhythm that helps you start the week grounded and refreshed.</h4>
    </div>


    <div class="warm-section">
        <div class="image-text-block">
            <div class="text-content">
                <h2>Your Title Here</h2>
                <p>
                    This is your description text. It stays centered vertically
                    next to the image, creating a clean and balanced layout.
                </p>
            </div>

            <img src="~/css/Images/black-women-in-church.jpg" alt="Image">
        </div>
    </div>



  



    <div class="hero">
        <div class="hero-image"></div>

        <div class="hero-text">
            <h1>Want infomation on our Sundays?</h1>
            <p>
                <a asp-action="calendar">Click here to view our schedule</a>
            </p>
        </div>
    </div>



</body>
